/* Layout */



/* A container should not overflow */
.proactive_container
{
    overflow: hidden;
}

/* Except sometimes, because the fieldset is positioned using a negative margin.
   If we set the overflow to hidden, this is truncated
*/
.fieldset_legend
{
    overflow: visible;
}

.fieldset
{
    overflow: visible;
}


/* However, we want the content pane inside to not overflow */
.fieldset_main
{
    overflow: hidden;
}

.scrollx
{
    overflow-x: scroll;
}

.scrolly
{
    overflow-y: scroll;
}

.scroll
{
    overflow: scroll;
}

.horizontal_layout
{
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    flex-direction: row;
    box-sizing: border-box;
}

.vertical_layout
{
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    box-sizing: border-box;
}

select
{
    min-width: 0px;
    min-height: 23px;
}

input
{
    min-width: 0px;
    min-height: 23px;
}

.field[type="checkbox"]
{
    min-height: 13;
    margin-top: 4px;
    margin-bottom: 3px;
}

.field[type="radio"]
{
    min-height: 13;
    margin-top: 4px;
    margin-bottom: 3px;
}

button
{
    flex-shrink: 0;
}


.vertical_layout > .horizontal_fill
{
    -webkit-align-self: stretch;
    align-self: stretch;
}

.vertical_layout > .vertical_fill
{
    -webkit-flex: 1; 
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    xmin-height: -webkit-min-content;
}

.horizontal_layout > .horizontal_fill
{
    -webkit-flex: 1;  
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    xmin-height: -webkit-min-content;
}

.horizontal_layout > .vertical_fill
{
    -webkit-align-self: stretch;
    align-self: stretch;
}

.proactive_container > .scrollpane
{
    flex: 1;
}


.no_fill
{
    max-width: 100%;
    -webkit-align-self: center;
    align-self: center;
}

.vertical_layout > .no_fill
{
    margin-left: auto;
    margin-right: auto;
}


/* This bears some explaining. If you have a no_fill component inside a no_fill panel, then without this next rule they will both have
   align-self of center. This causes the inner one to be displayed without shrinking, overflowing out of the outer one.
   Since a component inside a no-fill panel *already* has no extra space (I think?), it is safe to set it to stretch here, since effectively
   it will never stretch *larger*, but can now actually shrink *smaller*
*/
.no_fill > .proactive_container.no_fill
{
    align-self: stretch;
}

*
{
    vertical-align: top;   
}

.proactive_container
{
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    display: flex;
    box-sizing: border-box;
    min-width: 0px;
/*
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
*/
}

.align_center
{
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.justify_space_between
{
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


.justify_space_around
{
    -webkit-justify-content: space-around;
    justify-content: space-around;
}


.not_selected_tab
{
    display: none;
}

.selected_tab
{
    display: flex;
    border: 2px groove threedface;
}


.title
{
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}


.fieldset
{
    padding: 0.5em;
    border: 2px groove threedface;
    border-top: none;
    margin: 1em 2px;
}

.pre_fieldset
{
    border-top: 2px groove threedface;
    width: 10px;
    margin-top: -0.6em;
    margin-left: -0.5em;
}

.post_fieldset
{
    border-top: 2px groove threedface;
    display: flex;
    margin-top: -0.6em;
    margin-left: 0.2em;
    margin-right: -0.6em;

}

.fieldset_text
{
    margin-top: -1em;
    margin-left: 0.2em;
}

body
{
    margin: 0;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.tabs
{
    display: flex;
    box-sizing: border-box;
}

label
{
    padding-left: 5px;
    padding-right: 5px;
    min-height: 0px;
}

.field
{
    padding-left: 5px;
    padding-right: 5px;
}

th > *
{
    width: 100%;
}

/* Make each table cell object take up the entire td.
   Note that only block objects can have a width
*/
td > *
{
    display: block;
    width: 100%;
}

/* This was added to enable overflow="ellipsis" to work on tables.
   It may have other unintended consequences, though...
*/
table
{
    table-layout:fixed;
}

.proactive_frame_glasspane
{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScvPgogIDxwYXRoIGQ9J00tMSwxIGwyLC0yCiAgICAgICAgICAgTTAsMTAgbDEwLC0xMAogICAgICAgICAgIE05LDExIGwyLC0yJyBzdHJva2U9J2JsYWNrJyBzdHJva2Utd2lkdGg9JzEnLz4KPC9zdmc+Cg==");
    background-repeat: repeat;
    opacity: 0.2;
}

.proactive_frame_contentpane
{
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    background-color: #000000;
    border: 2px solid white;
    padding: 10px;
}

.grid-shrink
{
    white-space:nowrap;
}

.grid-expand
{
    width: 100%;
}

.grid
{
    table-layout: auto;
}



/* I feel a bit like I am grasping at straws now. If there is something in a scrollpane then we can
   set a minimum height on it since if the panel gets too small to display everything it will just scroll.
   If we dont have a scrollpane then we want everything to slowly shrink
*/
.scrollpane .vertical_fill
{
    min-height: -webkit-min-content;
}

/* Table bits */


.table_container
{
    position: relative;
    border: 1px solid #000;
    overflow: hidden;
    display: flex;
    min-height: 22px;
    align-self: stretch;
    x-flex-basis: 22px;
    flex-grow: 1;
}

.table_header_container
{
    overflow-y: scroll;
    display: flex;
    /* If tfoot present then add this border-bottom (and duplicate all the thead things below): 2px solid transparent; */
}

.react_table
{
    border-spacing: 0;
    border-collapse: collapse;
}

.react_table thead tr
{
    left: 0;
}

.react_table thead tr th
{
    height: 0;
    line-height: 0;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: transparent;
    border: none;
    white-space: nowrap;
}

.react_table_header_wrapper
{
    position: absolute;
    display: block;
    line-height: normal;
    z-index: 2;
    text-align: left;
    font-weight: bold;
}

.react_table thead tr th *
{
    top: 0;
}

.react_table thead tr th:first-child *
{
    border-left: none;
}

.react_table_header_wrapper *
{
    width: 100%;
}

/* The headings in the tables are displayed twice: once in an absolute location to float them
   and once in the actual header, but hidden, so that we can correctly size the table: Absolute
   children do not count towards the size of the parent
*/
.table_header_hack
{
    visibility: hidden;
}

.horizontal_layout
{
    min-height: min-content;
}

