[submodule "reactive-prolog"]
	path = reactive-prolog
	url = https://github.com/thetrime/reactive-prolog.git
[submodule "lib/proscript2"]
	path = lib/proscript2
	url = http://github.com/thetrime/proscript2.git
[submodule "yoga/yoga"]
	path = yoga/yoga
	url = https://github.com/facebook/yoga.git
