.wrapper
{
  width: 100%;
  position: relative;
  border: 1px solid #000;
  background: #efefef;
  overflow: hidden;
  border-radius: 7px;
}


.container
{
  overflow-y: scroll;
  height: 200px;
  border-top: 41px solid transparent;
  /* If tfoot present then add this border-bottom: 41px solid transparent; */
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

td + td {
  border-left: 1px solid #fff;
}

td, th {
  border-bottom: 1px solid #fff;
  background: #efefef;
  padding: 10px;
}

thead tr th
{
  height: 0;
  line-height: 0;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: transparent;
  border: none;
  white-space: nowrap;
}

thead tr th div
{
  position: absolute;
  color: #000;
  padding: 10px;
  margin-left: -10px;
  line-height: normal;
  width: 100%;
  z-index: 2;
  text-align: left;
  font-weight: bold;
}

thead tr th div
{
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}

thead tr th div
{
  x-background: violet;
}

thead tr th div
{
  top: 0;
}

thead tr th:first-child div
{
  border-left: none;
}

